ul#countdown {
  display: block;
  width: 33%;
  margin: 0 auto;
  padding-left: 0;
  
  li {
    color: white;
    margin: 0 -3px 0 0;
    padding: 0;
    display: inline-block;
    width: 25%;
    font-size: 72px;
    text-align: center;

    .label {
      color: $base;
      font-size: 18px;
      text-transform: uppercase;
    }
  }
}

@media only screen and (max-width:1024px) {
  ul#countdown {
    width: 50%;
    li {
      font-size: 50px;
      .label {
        font-size: 13px;
      }
    }
  }
}
