@import url('https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco|VT323');

body {
  font-family: 'Sue Ellen Francisco', cursive;
  font-weight: normal;
  font-style: normal;
}

span {
  font-family: 'VT323', monospace;
  font-weight: normal;
  font-style: normal;
}
